torch~=1.13.0
torchvision~=0.14.0
numpy
opencv-python~=4.6.0.66
wandb
numexpr
filterpy
scipy
einops
scikit-learn
pandas
matplotlib
Pillow
tqdm
ujson
onedrivedownloader
gdown
lap
pyarrow
timm==0.4.5
torch_geometric
imgaug
